* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
}

html,
body {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.circle {
    position: absolute;
    bottom: 35px;
    width: 80px;
    height: 80px;
    background: rgba(126, 126, 126, 0.5);
    border: #444 solid medium;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.thumb {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
}

@keyframes changeColor {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.dots {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #001300;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    animation: changeColor 5s linear infinite;
}

.dot {
    position: relative;
    width: 100%;
    height: 100%;
    user-select: none;

}

.dot::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00ff0a;
    transform: scale(0.00001);
    box-shadow: 0 0 10px #00ff0a, 0 0 20px #00ff0a, 0 0 40px #00ff0a, 0 0 60px #00ff0a, 0 0 80px #00ff0a;
    border-radius: 50%;
    pointer-events: none;
    transition: 2s;
}

.dot:hover::before {
    transform: scale(1);
    transition: 0s;
}

.left {
    position: absolute;
    margin-left: -125px;
    margin-bottom: 40px;
}

.right {
    position: absolute;
    margin-left: 85px;
    margin-bottom: -38px;
}

.forward {
    margin-bottom: 45px;
    position: absolute;
    margin-left: 255px;
}

.backward {
    margin-bottom: -40px;
    position: absolute;
    margin-left: 255px;
}

.view{
    position: absolute;
    margin-left: 170px;
    margin-bottom: -38px;
}

.fas {
    position: absolute;
    color: white;
    z-index: 0;
    left: 40px;
    top: 15px;
    transform: translate(-50%);
    font-size: 50px;
}

.fa{
   position: absolute;
   color: white;
   z-index: 0;
   left: 40px;
   top: 15px;
   transform: translate(-50%);
   font-size: 50px;
}

.leftright {
    left: 25vw;
}

.forwardback {
    right: 25vw;
}